<template name="dashboard">
  <h3>Painel</h3>
  <div class="alert alert-info">
    <p>Saldo em Carteira: 10 ETH</p>
    <!-- TODO: Pegar saldo do usuário ou do Cliente, caso seja admin -->
  </div>

  <label id="result"></label>
  <button id="testeApiGet" class="btn btn-danger">Teste API GET</button>
  <button id="testeApiPost" class="btn btn-danger">Teste API POST</button>
  <hr>

  <h3>Meus Projetos</h3>

  {{#each myProjects}}
    {{> dashboardProjectItem}}
  {{/each}}
</template>

<template name="dashboardProjectItem">
  <div class="col-md-4">
    <div class="col-md-10" style="border: 1px solid #F8F8F8">
      <img src="{{image}}" class="img-responsive" />
      <h3>{{name}}</h3>
      <p>{{description}}</p>
      <p class="text-info">Saldo: {{balance}} ETH</p>
      <p>{{activities}}</p>
      <a id="button" class="btn btn-info" href="{{pathFor 'project' _id=this._id}}">Ver detalhes</a>
    </div>
  </div>
</template>
