<template name="dashboard">
  <h1>Painel</h1>
  <div class="row">
    <div class="col-xs-6">
      <h2>Minhas Atividades</h2>
      <table class="table table-hover table-striped table-bordered table-condensed table-responsive">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Atividade #1</td>
            <td>5 ETH</td>
            <td>Pendente Aprovação</td>
          </tr>
          <tr>
            <td>Atividade #1</td>
            <td>5 ETH</td>
            <td>Pendente Aprovação</td>
          </tr>
          <tr>
            <td>Atividade #1</td>
            <td>5 ETH</td>
            <td>Pendente Aprovação</td>
          </tr>
          <tr>
            <td>Atividade #1</td>
            <td>5 ETH</td>
            <td>Pendente Aprovação</td>
          </tr>
          <tr>
            <td>Atividade #1</td>
            <td>5 ETH</td>
            <td>Pendente Aprovação</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-6">
      <h2>Minha Conta</h2>
      <div class="alert alert-info">
        <p>
          <span>Saldo em Carteira: </span>
          <span id="myBalance">{{myBalance balance}} - {{myBalance btc}} - {{myBalance usd}}</span>
        </p>
        <p>
          <span>Saldo em Projetos: </span>
          <span id="projectBalanceSum">{{projectBalanceSum balance}} - {{projectBalanceSum btc}} - {{projectBalanceSum usd}}</span>
        </p>
        <p>
          <span>Endereço da Carteira: </span>
          <span id="myWalletAddress">{{myBalance walletAddress}}</span>
        </p>
      </div>
    </div>
  </div>

  <h3>Meus Projetos</h3>
  <hr />

  {{#each myProjects}}
    {{> dashboardProjectItem}}
  {{/each}}

</template>

<template name="dashboardProjectItem">
  <div class="col-md-4">
    <div class="col-md-10" style="border: 1px solid #F8F8F8">
      <img src="{{image}}" class="img-responsive" />
      <h3>{{name}}</h3>
      <p>
        <span>Saldo: </span>
        <span class="text-danger" id="projectBalance">{{projectBalance walletAddress}}</span>
      </p>
      <a id="button" class="btn btn-info" href="{{pathFor 'project' _id=this._id}}">Ver detalhes</a>
    </div>
  </div>
</template>

<template name="projectBalance">

</template>
