<template name="project">
  {{#with project}}
  <div class="alert alert-info">
    <p>
      <span>Saldo do Projeto: </span>
      <span id="{{walletAddress}}" class="text-uppercase">{{projectBalance walletAddress}}</span>
    </p>
  </div>

  <div class="jumbotron">

    <img src="{{ image }}" alt="" class="img-responsive" />
    <h1>{{ name }}</h1>
    <p>{{ description }}</p>

    <hr />

    <h2>Contribuir</h2>

    <div class="col-md-2">
      <p class="text-right">Seu Saldo:</p>
    </div>
    <div class="col-md-10">
      <p class="text-left text-uppercase" id="myBalance">{{myBalance balance}} = {{myBalance btc}} = {{myBalance usd}}</p>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-2">
      <p class="text-right">Quantidade: </p>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" id="valueTransaction" />
        <span class="input-group-addon">ETH</span>
      </div>
    </div>
    <div class="col-md-6">
      <button id="sendEtherProject" class="btn btn-success">Enviar</button>
    </div>

    <div class="clearfix"></div>

    <hr />

  </div>

  <button id="removeProject" class="btn btn-danger">Excluir Projeto</button>
  {{/with}}
</template>
